.chart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin-top: 10px;
}

.card {
    margin-top: 40px;
}

.card-title {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}