form {
    margin-top: 20px;
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

button {
    min-width: 130px;
    margin-right: 16px;
}

.actions-wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
}